body {
    font-family: 'Work Sans', sans-serif;
    background-color: #eee;
    display: flex;
    flex-direction: column;
}

input {
    padding: 14px;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 15px;
}

label {
    color: #1ECEFD;
}

form, .main-container {
    width: 400px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(204,204,204,1);
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#edit-title {
    font-size: 20px;
}

button {
    background-color: #505355;
    color: white;
    padding: 14px;
    border-radius: 15px;

}

img {
    height: 300px;
    width: 350px;
    border-radius: 15px;
}

.image-container {
    width: 0;
}

.edit-btn {
    width: 95%;
}

h1{
    font-size: 30px;
}

#contact {
    color: #eee;
}